.country-info {
    position: absolute;
    max-width: 30%;
    padding: $padding-slimmer;
    margin: $padding-slimmer;
    color: $color-froly;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background: $color-mine-shaft;
    transition: $transition-all-fast-no-ease;
    animation: appear-out-of-fucking-nowhere $transition;
    pointer-events: none;

    strong {
        font-weight: 500;
        font-size: 1.25rem;
        color: white;
    }

    @keyframes appear-out-of-fucking-nowhere {
        from {
            padding: 0;
            opacity: 0;
        }

        to {
            padding: $padding-slimmer;
            opacity: 1;
        }
    }
}
