.map {
    &__svg {
        width: 100%;
        height: auto;
        max-height: calc(100vh - #{$min-interact-able + $padding});

        display: block;
        user-select: none;
    }

    &__svg {
        .oceanxx {
            fill: url(#oceanGradient);
        }

        .landxx, .limitxx {
            fill: url(#landGradient);
            stroke: url(#oceanGradient);
            stroke-width: $stroke-width;
            fill-rule: evenodd;
        }

        .limitxx {
            stroke-dasharray: 1;
        }

        .coastxx {
            stroke-width: 0;
        }
    }

    &__land-gradient-stop {
        &--snow {
            stop-color: white;
        }

        &--land {
            stop-color: $color-land;
        }

        &--desert {
            stop-color: $color-desert;
        }
    }

    &__ocean-gradient-stop {
        &--ocean-cold {
            stop-color: $color-ocean-cold;
        }
        &--ocean {
            stop-color: $color-ocean;
        }
        &--ocean-warm {
            stop-color: $color-ocean-warm;
        }
    }

    // Antarctica and Greenland.
    #aq, #gl {
        fill: white;
    }

    // Mainland Australia.
    #path3348 {
        fill: url(#auGradient);
    }
}