.map {
    position: relative;

    &__svg-wrapper {
        max-width: 100%;
        height: calc(100vh - #{$min-interact-able + $padding * 2});
        max-height: 100%;
    }

    &__svg {
        width: 100%;
        height: auto;
        max-height: calc(100vh - #{$min-interact-able + $padding * 2});

        display: block;
        user-select: none;

        .oceanxx {
            fill: $color-ocean;
        }

        .landxx, .limitxx {
            stroke: black;
            stroke-width: $stroke-width;
            fill-rule: evenodd;
        }

        .limitxx {
            stroke-dasharray: 1;
        }
    }
}
