.map {
    position: relative;
    flex-grow: 1;

    &__svg-wrapper {
        height: 100%;

        > div {
            height: 100%;
        }
    }

    &__svg {
        display: block;
        user-select: none;

        .oceanxx {
            fill: $color-ocean;
        }

        .landxx,
        .limitxx {
            fill-rule: evenodd;
            stroke: black;
            stroke-width: $stroke-width;
        }

        .limitxx {
            stroke-dasharray: 1;
        }
    }
}
