.quiz-input {
    width: 100%;
    min-height: $min-interactive;
    box-sizing: border-box;
    padding: 0 44px;
    font-size: 1.2em;
    background: $color-mine-shaft;
    border: none;
    border-bottom: 1px $color-nobel solid;
    outline: none;

    &::placeholder {
        color: $color-nobel;
        font-style: italic;
        font-weight: 300;
    }
}
