.selective-map {
    $this: &;
    $land-selector: '#{$this} &, .landxx, .limitxx, *';

    &__land {
        transition: $transition-all;

        &--invisible {
            #{$land-selector} {
                opacity: 0;
            }

            pointer-events: none;
        }
    }
}

@keyframes example {
    0% {
        stroke: red;
        stroke-width: $stroke-width;
    }
    100% {
        stroke: red;
        stroke-width: 10;
    }
}
