.selective-map {
    $this: &;
    $land-selector: '#{$this} &, .landxx, .limitxx, *';

    &__land {
        &--invisible {
            //pointer-events: none;

            #{$land-selector} {
                opacity: 1;
            }
        }
    }
}

@keyframes example {
    0% {
        stroke: red;
        stroke-width: $stroke-width;
    }

    100% {
        stroke: red;
        stroke-width: 10;
    }
}
