.map-fill-quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-mine-shaft;

    &__upper {
        width: 100%;
        min-height: $min-interactive;
        padding: $padding 0;
        display: flex;
        flex-direction: row;
        justify-content: center;

        > :not(:last-child) {
            margin-right: $padding-slimmer;
        }
    }

    &__progress {
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-tundora;
        border-radius: $border-radius-subtle;
    }

    &__country-input {
        width: calc(50% + 100px);
    }

    button {
        width: 120px;
    }
}
