$color-satin-linen: #e3e5d1;
$color-slate-gray: #78858e;
$color-silver: #c9c9c9;
$color-manatee: #9186a1;
$color-cerulean-blue: #2866b1;
$color-petite-orchid: #dc9596;
$color-summer-green: #96bfaf;
$color-gallery: #eeeeee;

$color-dark-0: #131313;
$color-dark-1: #262626;
$color-button-normal: $color-gallery;

//purpose
$color-body-background: $color-dark-0;
$color-top-navigation: $color-dark-1;


$color-h1: $color-satin-linen;
$color-input: rgba(white, 0.1);
$color-input-text: $color-gallery;
$color-focus-outline: rgba($color-cerulean-blue, 0.8);
