p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

* + p,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
    margin-top: 0.33em;
}

h1 {
    position: relative;
    font-size: 3em;
    letter-spacing: 0.92ch;
}

.tc { text-align: center }