[tooltip] {
    position: relative;
    cursor: help;
}

[tooltip]::before {
    position: absolute;
    top: 50%;
    z-index: $z-top;
    padding: $padding-slimmer;
    content: attr(tooltip);
    opacity: 0;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $transition-all-faster;
    pointer-events: none;
}

[tooltip]:hover::before {
    top: 100%;
    opacity: 1;
    background: $color-cod-grey;
}
