[underNotification] {
    position: relative;
}

[underNotification]::after {
    position: absolute;
    top: 100%;
    z-index: $z-top;
    padding: $padding-slimmer;
    content: '...';
    opacity: 1;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $transition-all-faster;
    pointer-events: none;
    background: $color-cod-grey;
}

[underNotification]:hover::before {
    top: 100%;
    opacity: 1;

}

// ADAPT