@import "./includes/colors";

// Colors
//// Named
$color-froly: #f47174;
$color-cod-grey: #0f0f0f;
$color-mine-shaft: #202020;
$color-tundora: #383838;
$color-nobel: #b7b7b7;
$color-alto: #ddd;

$color-pickled-bluewood: #2b4056;
$color-ebony-clay: #212c37;
//// Purpose
$color-text: $color-gallery;
$color-negative-button: $color-froly;
$color-ocean: $color-cerulean-blue;

// Dimensions
$min-interactive: 44px;
$padding: 15px;
$padding-slimmer: 10px;

// Cosmetics
$box-shadow: 2px 3px 5px rgba(black, 0.2);
$box-shadow-tighter: 2px 3px 3px rgba(black, 0.55);
$border-radius: 18px;
$border-radius-subtle: 4px;
$hover-lighten-darken-amount: 7;
$focus-outline: 2px $color-focus-outline solid;

// Z Index
$z-top: 90000;
$z-higher: 500;
$z-high: 400;
$z-medium-high: 300;
$z-medium: 200;
$z-medium-low: 100;
$z-one: 1;
$z-low: 0;
$z-bottom: -100;

// Animations
$transition-time: 0.3s;
$transition-fast-no-ease: 0.1s;
$transition-slower: 0.5s ease-in-out;
$transition: $transition-time ease-in-out;
$transition-faster: 0.15s ease-in-out;
$transition-all-fast-no-ease: all $transition-fast-no-ease;
$transition-all-slower: all $transition-slower;
$transition-all: all $transition;
$transition-all-faster: all $transition-faster;
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);

// SVG
$stroke-width: 0.8;

// Stuff that can be imported by js files :O
/* stylelint-disable */
// noinspection ALL
:export {
    colorOcean: $color-ocean;
    strokeWidth: $stroke-width;
    transition: $transition-all;
}
