// Colors
$color-ocean-cold: #2866b1;
$color-ocean: #114cb1;
$color-ocean-warm: #2866b1;
$color-land: #6ad745;
$color-desert: #ece877;

// Z Index
$z-top: 90000;
$z-higher: 500;
$z-high: 400;
$z-medium-high: 300;
$z-medium: 200;
$z-low-medium: 100;
$z-low: 0;
$z-bottom: -100;

// Animations
$transition-all: all 0.3s ease-in-out;

// Dimensions
$min-interact-able: 44px;

// SVG
$stroke-width: 1;