// Variables
@import 'variables';

// Mixins
@import './mixins/Utils';

// React Components
@import './components/Map';
@import './components/SelectiveMap';
@import 'components/CountryInput';
@import 'components/CountryInserter';

// Other
html, body, #root {
    min-height: 100%;
    height: 100%;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    color: $color-gallery;
    button, input {
        font-family: 'Roboto', sans-serif;
        color: $color-gallery;
    }
}
@import 'button';
@import 'tooltip';

// CSS order reference
/*
    content
    width
    height
    position
    padding
    margin
    display
    z-index
    cosmetics
    font
    cursor / pointer-events
    transition
    animation
*/
